.wrapper {
    background: rgb(175, 175, 175);
    background-image: url('https://images.app.goo.gl/5ijDh2uLiuCNV2Zp7');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }