.wrapper {
    background: rgb(233, 197, 40);
    background-image: url('./img/dragon3.png');
    background-repeat:fixed;
    background-position:right;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }